@model dynamic

<h2>Xero Time entries</h2>

<table class="table table-responsive fixed-table-body">
  <tr>
    <th>Task Id</th>
    <th>User Id</th>
    <th>Duration</th>
    <th>Status</th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>@item.TaskId.ToString()</td>
      <td>@item.UserId.ToString()</td>
      <td>@item.Duration</td>
      <td>@item.Status.ToString()</td>
    </tr>
  }
</table>
<br>
<p><b>Raw JSON Response:</b></p>
<textarea class="form-control" readonly style="height: 350px">
  @ViewBag.jsonResponse;
</textarea>
<br>
<p><b>Code Example:</b></p>
<p>Get all Projects</p>
<pre>
// Assuming accessToken and xeroTenantId has been provided
var ProjectApi = new ProjectApi();

// replace with your project id
var response = await ProjectApi.GetTimeEntriesAsync(accessToken, xeroTenantId, new Guid("YOUR-PROJECT-ID"));

return response.Items;
</pre>
<br>
<button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
<br>
<br>
<br>