@model dynamic

<h2>Xero Projects</h2>

<table class="table table-responsive fixed-table-body">
  <tr>
    <th>Project Name</th>
    <th>Project Number</th>
    <th>Time entries</th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>@item.Name</td>
      <td>@item.Status</td>
      <td>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("GetTimeEntries", "ProjectInfo", new { projectId = (Guid) @item.ProjectId } )'">View time entries</button>
      </td>
    </tr>
  }
</table>
<br>
<p><b>Raw JSON Response:</b></p>
<textarea class="form-control" readonly style="height: 350px">
  @ViewBag.jsonResponse;
</textarea>
<br>
<p><b>Code Example:</b></p>
<p>Get all Projects</p>
<pre>
// Assuming accessToken and xeroTenantId has been provided
var ProjectApi = new ProjectApi();
var response = await ProjectApi.GetProjectsAsync(accessToken, xeroTenantId);

return response.Items;
</pre>
<br>
<p>
  <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>
<br>
<br>
<br>