@model dynamic

<h2>Xero Purchase Orders in the Last 7 Days</h2>

<table class="table table-responsive-lg">
    <tr>
        <th>Purchase Order #</th>
        <th>To</th>
        <th>Date</th>
        <th>Total Due</th>
        <th>Attachment</th>
    </tr>
    @foreach (var purchaseOrder in Model) {
        <tr>
            <td>@purchaseOrder.PurchaseOrderID.ToString().Substring(0,8)</td>
            <td>@purchaseOrder.Contact.Name</td>
            <td>@purchaseOrder.Date.ToString("dd/MM/yy")</td>
            <td>@purchaseOrder.Total</td>
            <td>
                <form method="post" enctype="multipart/form-data" asp-controller="PurchaseOrderSync" asp-action="Upload">
                    <input type="file" name="files" multiple />
                    <input type="hidden" name="purchaseOrderID" value="@purchaseOrder.PurchaseOrderID.ToString()"/>
                    <input type="submit" value="Upload" />
                </form>
            </td>
        </tr>
    }
</table>

<hr />
<br />

@*
    Raw JSON Response
*@

<p class="h5">Raw JSON Response:</p>
<textarea class="form-control" readonly style="height: 350px">@ViewBag.jsonResponse</textarea>