
@model dynamic

<h2>Xero Bank Feed Statements</h2>

<br/>

<table class="table table-responsive-lg">
    <tr>
        <th>ID</th>
        <th>Feed Connection ID</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Start Balance Amount</th>
        <th>Start Balance Credit Debit Indicator</th>
        <th>End Balance Amount</th>
        <th>End Balance Credit Debit Indicator</th>
        <th>Statement Line Count</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Id.ToString().Substring(0,8)</td>
            <td>@item.FeedConnectionId.ToString().Substring(0,8)</td>
            <td>@item.Status.ToString()</td>
            <td>@item.StartDate.ToString("d/MM/yy")</td>
            <td>@item.EndDate.ToString("d/MM/yy")</td>
            <td>@(string.Format("{0:0.00}", item.StartBalance.Amount))</td>
            <td>@item.StartBalance.CreditDebitIndicator.ToString()</td>
            <td>@(string.Format("{0:0.00}", item.EndBalance.Amount))</td>
            <td>@item.EndBalance.CreditDebitIndicator.ToString()</td>
            <td>@item.StatementLineCount</td>    
        </tr>
    }
</table>

<hr />
<br />

@*
    Raw JSON Response
*@

<p class="h5">Raw JSON Response:</p>
<textarea class="form-control" readonly style="height: 350px">@ViewBag.jsonResponse</textarea>