@model dynamic

<h2>Xero Folders</h2>

<table class="table table-responsive-lg">
    <tr>
        <th>Folder Name</th>
        <th>File Count</th>
        <th>Email</th>
        <th>Id</th>
        <th>Rename</th>
        <th>Delete</th>
    </tr>
    @for(int i = 0; i < Model.Count; i++) {
        <tr>
            <td>@Model[i].Name</td>
            <td>@Model[i].FileCount.ToString()</td>
            <td>@Model[i].Email</td>
            <td>@Model[i].Id.ToString().Substring(0,8)</td>
            <td>
                <button class="btn btn-link" disabled="@Model[i].IsInbox" onclick="location.href='@Url.Action("Modify", new { folderId = @Model[i].Id })'">Rename</button>
            </td>
            <td>
                <button class= "btn btn-danger" disabled="@Model[i].IsInbox" onclick="location.href='@Url.Action("Delete", new { folderId = @Model[i].Id })'">Delete</button>
            </td>
        </tr>
    }
</table>

<hr />
<br />

@*
    Raw JSON Response
*@

<p class="h5">Raw JSON Response:</p>
<textarea class="form-control" readonly style="height: 350px">@ViewBag.jsonResponse</textarea>