@model dynamic

<h2>Xero Cash Validation</h2>

<table class="table table-responsive-lg">
    <tr>
        <th>Account Id</th>
        <th>Statement Balance</th>
        <th>Statement Balance Type</th>
        <th>Statement Balance Date</th>
        <th>Cash Account Starting Balance</th>
        <th>Cash Account Balance</th>
        <th>Cash Account Unreconciled Amount Positive</th>
        <th>Cash Account Unreconciled Amount Negative</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AccountId.ToString().Substring(0, 8)</td>
            <td>@(string.Format("{0:0.00}", item.StatementBalance.Value)) @item.CashAccount.BalanceCurrency</td>
            <td>@item.StatementBalance.Type</td>
            <td>@item.StatementBalanceDate.ToString("d/MM/yy")</td>
            <td>@(string.Format("{0:0.00}", item.CashAccount.StartingBalance)) @item.CashAccount.BalanceCurrency</td>
            <td>@(string.Format("{0:0.00}", item.CashAccount.AccountBalance)) @item.CashAccount.BalanceCurrency</td>
            <td>@(string.Format("{0:0.00}", item.CashAccount.UnreconciledAmountPos)) @item.CashAccount.BalanceCurrency</td>
            <td>@(string.Format("{0:0.00}", item.CashAccount.UnreconciledAmountNeg)) @item.CashAccount.BalanceCurrency</td>
        </tr>
    }
</table>

<hr/>
<br/>

@*
    Raw JSON Response
*@

<p class="h5">Raw JSON Response:</p>
<textarea class="form-control" readonly style="height: 350px">@ViewBag.jsonResponse</textarea>