@model bool

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Xero .NET Standard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        @if (ViewBag.OrgPickerTenantList != null ) {
            <select name="orgSelector" id="orgSelector" class="form-control form-control-sm w-auto" onchange="location.href = this.value">
                @foreach (var details in ViewBag.OrgPickerTenantList)
                {
                    @if (details.TenantId == ViewBag.OrgPickerCurrentTenantId) {
                        <option value="@Url.Action("Index", "Home", new { tenantId = @details.TenantId })" selected="selected">@details.TenantName</option>
                    } else {
                        <option value="@Url.Action("Index", "Home", new { tenantId = @details.TenantId })">@details.TenantName</option>
                    }
                }
            </select>
        }
        
        <ul class="navbar-nav ml-auto">
          
            @if (Model == false) {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Authorization" asp-action="Index">
                        <img src="~/images/connect-white.svg" alt="Connect to Xero button" width="170">
                    </a>
                </li>
            } else {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Authorization" asp-action="Index">Reconnect to Xero</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Authorization" asp-action="Revoke">Revoke Xero Token</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Authorization" asp-action="Disconnect">
                        <img src="~/images/disconnect-white.svg" alt="Disconnect to Xero button" width="170">
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>