@model dynamic

<h2>Xero Connections</h2>

<table class="table table-responsive-lg">
    <tr>
        <th>Tenant Name</th>
        <th>Connection ID</th>
        <th>Tenant ID</th>
        <th>Tenant Type</th>
        <th>Created Date</th>
        <th>Updated Date</th>
        <th>Delete Connection</th>
    </tr>
  @foreach (var connection in Model) {
      <tr>
          <td>@connection.TenantName</td>
          <td>@connection.Id.ToString().Substring(0, 8)</td>
          <td>@connection.TenantId.ToString().Substring(0, 8)</td>
          <td>@connection.TenantType</td>

          <td>
              @connection.CreatedDateUtc.ToString("d/M/yy")</td>
          <td>@connection.UpdatedDateUtc.ToString("d/M/yy")</td>
          <td>
              <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "IdentityInfo", new { connectionId = @connection.Id })'">Delete</button>
          </td>
      </tr>
  }
</table>

<hr />
<br />

@*
    Raw JSON Response
*@

<p class="h5">Raw JSON Response:</p>
<textarea class="form-control" readonly style="height: 350px">@ViewBag.jsonResponse</textarea>