@model dynamic

<h2>Xero Bank Transactions</h2>

<table class="table table-responsive-lg">
    <tr>
        <th>Transaction Date</th>
        <th>Type</th>
        <th>Total</th>
        <th>Total Tax</th>
        <th>Status</th>
        <th>Is Reconciled?</th>
        <th>Last Updated</th>
    </tr>
    @foreach (var bankTransaction in Model) {
        <tr>
            <td>@bankTransaction.Date.ToString("d/MM/yyyy")</td>
            <td>@bankTransaction.Type</td>
            <td>@bankTransaction.Total</td>
            <td>@bankTransaction.TotalTax </td>
            <td>@bankTransaction.Status</td>
            <td>@bankTransaction.IsReconciled</td>
            <td>@bankTransaction.UpdatedDateUTC.ToString("d/MM/yyyy")</td>
        </tr>
    }
</table>

<hr/>
<br/>

@*
    Raw JSON Response
*@

<p class="h5">Raw JSON Response:</p>
<textarea class="form-control" readonly style="height: 350px">@ViewBag.jsonResponse</textarea>