@model dynamic

<h2>Manual Journal</h2>
<p>@Model.ManualJournalID.ToString()</p>
<table class="table table-responsive fixed-table-body">
  <tr>
      <th>Line Amount</th>
      <th>TaxAmount</th>
      <th>Tracking</th>
  </tr>
  @foreach (var item in Model.JournalLines)
  {
    <tr>
      <td>@item.LineAmount</td>
      <td>@item.TaxAmount</td>
      <td>@foreach (var trackingItem in item.Tracking) 
        {
          <p> @trackingItem.Name: @trackingItem.Option</p>
        }
        </td>
    </tr>
  }
</table>
<hr>

<br>
<p><b>Raw JSON Response:</b></p>
<textarea class="form-control" readonly style="height: 350px">
  @ViewBag.jsonResponse;
</textarea>
<br>
<p><b>Code Example:</b></p>
<p>Get a Manual Journals</p>
<pre>
// Assuming accessToken and xeroTenantId has been provided
var AccountingApi = new AccountingApi();

var response = await AccountingApi.GetManualJournalAsync(accessToken, xeroTenantId, new Guid(manualJournalId));

var manualJournal = response._ManualJournals.First();
</pre>
<p>
  <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>

<br>
<br>
<br>
