@model dynamic

<h2>Manual Journals</h2>
<table class="table table-responsive-lg">
    <tr>
        <th>ManualJournalID</th>
        <th>Narration</th>
        <th>Date</th>
        <th>Status</th>
        <th>LineAmountTypes</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ManualJournalID.ToString()</td>
            <td>@item.Narration</td>
            <td>@item.Date</td>
            <td>@item.Status</td>
            <td>@item.LineAmountTypes</td>
            <td>
                <button class="btn btn-primary" onclick="location.href='@Url.Action("FindJournal", "ManualJournalInfo", new { manualJournalId = (Guid) @item.ManualJournalID } )'">View details</button>
            </td>
        </tr>
    }
</table>

<hr />
<br />

@*
    Raw JSON Response
*@

<p class="h5">Raw JSON Response:</p>
<textarea class="form-control" readonly style="height: 350px">@ViewBag.jsonResponse</textarea>
