@model dynamic

<h2>Xero Bank Feed Connections</h2>

<table class="table table-responsive-lg">
    <tr>
        <th>Connection ID</th>
        <th>Account Token</th>
        <th>Account Type</th>
        <th>Account Number</th>
        <th>Account Name</th>
        <th>Account ID</th>
        <th>Currency</th>
        <th>Country</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Id.ToString().Substring(0,8)</td>
            <td>@item.AccountToken</td>
            <td>@item.AccountType.ToString()</td>
            <td>@item.AccountNumber</td>
            <td>@item.AccountName</td>
            <td>@item.AccountId.ToString().Substring(0,8)</td>
            <td>@item.Currency</td>
            <td>@item.Country</td>
            <td>
                <button class= "btn btn-primary" onclick="location.href='@Url.Action("Delete", new { bankfeedConnectionId = @item.Id })'">Delete</button>
            </td>
        </tr>

    }
</table>

<hr />
<br />

@*
    Raw JSON Response
*@

<p class="h5">Raw JSON Response:</p>
<textarea class="form-control" readonly style="height: 350px">@ViewBag.jsonResponse</textarea>