@model dynamic

<h2>Select File</h2>

<table class="table table-responsive-lg">
    <tr>
        <th>File Name</th>
        <th>File Id</th>
        <th>Load</th>
    </tr>
    @foreach (var file in Model)
    {
        <tr>
            <td>@file.Name</td>
            <td>@file.Id.ToString()</td>
            <td>
                <button class= "btn btn-primary" onclick="location.href='@Url.Action("LoadAssociations", new { fileId = @file.Id })'">Load Associations</button>
            </td>
        </tr>
    }
</table>

<hr/>
<br/>

@*
    Raw JSON Response
*@

<p class="h5">Raw JSON Response:</p>
<textarea class="form-control" readonly style="height: 350px">@ViewBag.jsonResponse</textarea>