@model dynamic

<h2>Xero Balance Sheet Report</h2>


@*
   Balance Sheet Details
*@

<table class="table table-responsive-lg">
    <tr>
        <th>Balance Date</th>
        <th>Asset Total</th>
        <th>Liability Total</th>
        <th>Equity Total</th>
    </tr>
    <tr>
        <td>@Model.BalanceDate.ToString("d/MM/yy")</td>
        <td>@Model.Asset.Total</td>
        <td>@Model.Liability.Total</td>
        <td>@Model.Equity.Total</td>
    </tr>
</table>

<hr />
<br />


@*
    Raw JSON Response
*@

<p class="h5">Raw JSON Response:</p>
<textarea class="form-control" readonly style="height: 350px">@ViewBag.jsonResponse</textarea>