@model dynamic

<h2>Xero Profit and Loss Statement</h2>

@*
    Profit Loss Response Details
*@

<table class="table table-responsive-lg">
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Net Profit Loss</th>
        <th>Revenue Total</th>
        <th>Expenses Total</th>
    </tr>
    <tr>
        <td>@Model.StartDate.ToString("d/MM/yy")</td>
        <td>@Model.EndDate.ToString("d/MM/yy")</td>
        <td>@Model.NetProfitLoss</td>
        <td>@Model.Revenue.Total</td>
        <td>@Model.Expense.Total</td>
    </tr>
</table>

<hr/>
<br/>

@*
    Raw JSON Response
*@

<p class="h5">Raw JSON Response:</p>
<textarea class="form-control" readonly style="height: 350px">@ViewBag.jsonResponse</textarea>